body{
    font-size: 24px;
    font-style: italic;
    background-color: papayawhip;
    color: slateblue;
}

.blue{
    color:rgb(0,0,255);
}
.red{
    color:rgb(255,0,0);
}
.green{
    color:rgb(0,255,0);
}
.black{
    color:rgb(0,0,0);
}
.white{
    color:rgb(255,255,255);
}
.alpha{
    color:rgba(0,0,255,0.25)
}
.hexa{
    color:#000255;
}
.hexa-red{
   color:  #f00; /* shorter */
   color:  #ff0000;
}
.hexa-blue{
   color:  #00f; /* shorter */
   color:  #0000ff;
}
.hexa-green{
   color:  #0f0; /* shorter */
   color:  #00ff00;
}
.hexa-black{
   color:  #000; /* shorter */
   color:  #000000;
}
.hexa-white{
   color:  #fff; /* shorter */
   color:  #ffffff;
}