body{
    font-size: 24px;
}

h1,h3{
    color: blue;
}

h2{
    color: brown;
}

p{
    color: aqua;
}

p span{
    text-transform: uppercase;
    background-color: darkkhaki;
}
.green{
    background: green;
    color: greenyellow;
}
.blue{
    background-color: blue;
    color: floralwhite;
    font-size: large;
}
#third{
    background-color: blueviolet;
    color: bisque;
}