html{
    font-size: 32px;
}
body{
    width: 100vw;
    min-height: 100vh;
    /*vh and vw are relative to the viewport's height and width, respectively.*/
}
h1{
    border: 2px dashed red;
    width: 50%;
}

p{
    /*em and rem are relative to the font size of the parent element and the root element, respectively.*/
    font-size: 0.5rem;
    width: 40ch;
    /* font-size: 16px; */
}