html{
    font-size: 32px;
}

h1{
    border: 2px dashed red;
    width: 50%;
}

p{
    font-size: 0.5rem; /*em and rem are relative to the font size of the parent element and the root element, respectively.
    /* font-size: 16px; */
}